body{
    font-family: 'Courier New', Courier, monospace;/* Para caso o site do Google Fonts caia do ar */
    background-color: rgb(70, 23, 143);
    color: white;
    text-align: center;
}
.um{
    display: inline-block;
}
.dois{
    display: inline-block;
}
li{
    color: white;
    text-decoration: underline;

}

.imagem{
    display: inline-block;
   
}

.clique{
    color:rgb(240, 236, 27);
    display: inline;
    font-size: 20px;
    font-weight: bold;
    
}